<main class="contenedor panel-administracion">
    <h1><%= pageName %> </h1>
    <div class="contenedor-botones">
        <a href="/newGroup" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/newMeet" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editProfile" class="btn btn-rosa">Editar Perfil</a>
        <a href="/profileImage" class="btn btn-verde">Foto de perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Tus próximos eventos</h2>
        <% if (nextMeets.length > 0) { %>
            <ul>
                <% nextMeets.forEach( meet => { %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es'); %> 
                            <% const date = meet.date + ' ' + meet.time; %> 
                            <p class="fecha"><%= moment(date).format('LLLL') %> hs. </p>
                            <h3><%= meet.title %> </h3>
                            <% if (meet.interested.length === 1) { %>
                                <small> 0 Asistentes</small>
                            <% } else if (meet.interested.length === 2) {%>
                                <small> <%= meet.interested.length %> Asistente</small>
                            <% } else {%>
                                <small> <%= meet.interested.length %> Asistentes</small>
                            <% } %> 
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editMeet/<%= meet.id %>" class="btn btn-verde">Editar</a>
                            <a href="/interestedMeet/<%= meet.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/deleteMeet/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul> 
        <% } else {%>
            <p>Aún no tenés próximos eventos</p>
        <% } %> 
    </div>
    <div class="seccion-admin">
        <h2>Tus grupos</h2>
        <% if (groups.length > 0) { %>
            <ul>
                <% groups.forEach( group => {  %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %> </h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="editGroup/<%= group.id %>" class="btn btn-verde">Editar</a>
                            <a href="groupImage/<%= group.id %>" class="btn btn-azul2">Imágen</a>
                            <a href="deleteGroup/<%= group.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul> 
        <% } else {%>
            <p>Aún no tenés grupos</p>
        <% } %> 
    </div>
    <div class="seccion-admin">
        <h2>Tus eventos pasados</h2>
        <% if (previousMeets.length > 0) { %>
            <ul>
                <% previousMeets.forEach( meet => { %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es'); %> 
                            <% const date = meet.date + ' ' + meet.time; %> 
                            <p class="fecha"><%= moment(date).format('LLLL') %> hs. </p>
                            <h3><%= meet.title %> </h3>
                            <% if (meet.interested.length === 1) { %>
                                <small> 0 Asistentes</small>
                            <% } else if (meet.interested.length === 2) {%>
                                <small> <%= meet.interested.length %> Asistente</small>
                            <% } else {%>
                                <small> <%= meet.interested.length %> Asistentes</small>
                            <% } %> 
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editMeet/<%= meet.id %>" class="btn btn-verde">Editar</a>
                            <a href="/interestedMeet/<%= meet.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/deleteMeet/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul> 
        <% } else {%>
            <p>Aún no tenés eventos pasados</p>
        <% } %> 
    </div>
</main>