<main class="contenedor panel-administracion">
    <h1><%= pageName %> </h1>
    <div class="contenedor-botones">
        <a href="/newGroup" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/newMeeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editProfile" class="btn btn-rosa">Editar Perfil</a>
        <a href="/profileImage" class="btn btn-verde">Foto de perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Tus eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes 11 de octubre de 2020</p>
                    <h3>Entrega del TP1 de Matemática 4</h3>
                    <small>2 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul> 
    </div>
    <div class="seccion-admin">
        <h2>Tus grupos</h2>
        <% if (groups.length) { %>
            <ul>
                <% groups.forEach( group => {  %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %> </h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="editGroup/<%= group.id %>" class="btn btn-verde">Editar</a>
                            <a href="groupImage/<%= group.id %>" class="btn btn-azul2">Imágen</a>
                            <a href="deleteGroup/<%= group.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul> 
        <% } else {%>
            <p>Aún no tenés grupos</p>
        <% } %> 
    </div>
</main>