<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%= meet.title %> </h1>
            <div class="info-autor">
                <div class="imagen">
                    <% if (meet.user.image) { %>
                        <img class="profile-info" src="/uploads/profiles/<%= meet.user.image %>" alt="">
                    <% } %>
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/users/<%= meet.user.id %> "><%= meet.user.name %> </a> Creador de:
                        <a href="/groups/<%= meet.group.id %> "><%= meet.group.name %> </a>
                    </p>
                </div>
            </div> <!--infoautor-->
        </div>
        <div class="pregunta-asistencia">
            <% if (user.id) { %>
                <% const exist = meet.interested.includes(user.id.toString()) %> 
                <form action="/confirmAssistance/<%= meet.slug %>" id="confirmAssistance" method="POST">
                    <% if (exist) { %>
                        <p>¡Asistirás!</p>
                        <input type="hidden" name="action" id="action" value="cancel">
                        <input type="submit" value="Cancelar" class="btn btn-rojo">
                        <% } else { %>
                        <p>¿Asistirás?</p>
                        <input type="hidden" name="action" id="action" value="confirm">
                        <input type="submit" value="Si" class="btn btn-azul">
                    <% } %> 
                    <div id="mensaje"></div>
                </form>
            <% } else {%>
                <p>Inicia sesión para confirmar tu asistencia</p>
            <% } %> 
        </div>
    </div>
</div>
<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <img src="/uploads/groups/<%= meet.group.image %> " alt="">
                <%- meet.description %> 
            </div>
            <div class="asistentes">
                <div class="titulo">
                    <% if (meet.interested === '') { %>
                        <h3> 0/<%= (meet.quota) %> Asistentes</h3>
                    <% } else {%>
                        <h3> <%= (meet.interested.length) + '/' + (meet.quota) %> Asistentes</h3>
                    <% } %> 
                    <a href="/assistants/<%= meet.slug %> ">Ver todos</a>
                </div>
            </div>
            <div class="comentarios">
                <h2>Comentarios</h2>
                <% if (comments.length > 0) { %>
                    <% comments.forEach(comment => { %>
                        <div class="comentario">
                            <div class="imagen">
                                <% if (comment.user.image) { %>
                                    <img class="profile-info" src="/uploads/profiles/<%= comment.user.image %>" alt="">
                                <% } else { %>
                                    <img src="/uploads/profiles/noPic.jpg" alt="">
                                <% } %> 
                            </div>
                            <div class="texto">
                                <p><%= comment.content %> </p>
                                <p>Escrito por: <a href="/users/<%= comment.user.id %> "> <span><%= comment.user.name %></span> </a></p>
                                <% if (comment.userId === user.id || meet.userId === user.id) { %>
                                    <form action="/deleteComment" class="eliminar-comentario" method="POST">
                                        <input type="hidden" name="idComment" value="<%= comment.id %> ">
                                        <input type="submit" value="Eliminar" class="btn btn-azul">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No hay comentarios</p>
                <% } %> 
                <% if (user.id) { %>
                    <form action="/meet/<%= meet.id %> " method="POST" class="default-form comentarios">
                        <legend>Agregá tu comentario!</legend>
                        <div class="campo">
                            <label for="">Comentario</label>
                            <textarea name="comment"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" value="Enviar" class="btn btn-rosa">
                        </div>
                    </form>
                <% } else { %>
                    <p>Inicia sesión para comentar</p>
                <% } %> 
            </div>
        </div>
        <aside class="informacion">
            <div class="fecha">
                <% moment.locale('es'); %>
                <% const date = meet.date + ' ' + meet.time %>  
                <p><%= moment(date).format('LLLL') %>hs </p>
            </div>
            <div class="ubicacion">
                <p><%= meet.address %>, <%= meet.city %>, <%= meet.state %>, <%= meet.country %>   </p>
            </div>
            <input type="hidden" value="<%= meet.location[0] %>" id="lat">
            <input type="hidden" value="<%= meet.location[1] %>" id="lng">
            <input type="hidden" value="<%= meet.address + ', ' + meet.city + ', ' + meet.country %>" id="address">
            <div id="ubicacion-meeti" class="contenedor-mapa">
            </div>
        </aside>
    </div>
</main>