<div class="contenedor proximos-eventos">
    <h1><%= pageName %></h1>
    <% if (meets.length > 0) { %>
        <div class="grid columnas-md-3 ">
            <% meets.forEach(meet => { %>
                <div class="card">
                    <% if (meet.group.image) { %>
                        <img src="/uploads/groups/<%= meet.group.image %> ">
                    <% } else { %>
                        <img src="/uploads/groups/noGroup.png" alt="">
                    <% } %> 
                    <div class="card-texto">
                        <% moment.locale('es'); %> 
                        <% const date = meet.date + ' ' + meet.time; %> 
                        <p class="fecha"><%= moment(date).format('LLLL') %>hs </p>
                        <a href="/meet/<%= meet.slug %> ">
                            <h3><%= meet.title %>  </h3>
                        </a>
                        <div class="info-autor">
                            <div class="imagen">
                                <% if (meet.user.image) { %>
                                 <img src="/uploads/profiles/<%= meet.user.image %> " alt="">
                                <% } else {%>
                                    <img src="/uploads/profiles/noPic.jpg" alt="">
                                <% } %> 
                                    
                            </div>
                            <div class="informacion">
                                <p>Organizado por:</p>
                                <p class="autor"><%= meet.user.name %> </p>
                            </div>
                        </div>
        
                    </div>
                </div> <!--.card-->
            <% }) %>
        </div>
    <% } else { %>
        <p>No se encontró ningún resultado </p>
    <% } %> 
</div>