<main class="asistentes contenedor">
    <h1><%= pageName %> </h1>
    <div class="informacion-usuario">
        <div class="imagen-detalle">
            <% if (user.image) { %>
             <img src="/uploads/profiles/<%= user.image %> " alt="">
            <% } else { %>
                <img src="/uploads/profiles/noPic.jpg" alt="">
            <% } %> 
        </div>
        <div class="descripcion-detalle">
            <% if (user.description) { %>
                <%- user.description %> 
            <% } else { %>
                <p class="texto-detalle">Sin descripcion</p>
            <% } %> 
        </div>
    </div>
    <div class="grupos-usuario">
        <% if (groups.length > 0) { %>
         <h2>Grupos de <%= user.name %> </h2>
         <ul class="lista-grupos">
             <% groups.forEach(group => { %>
              <li>
                  <div class="imagen-lista-grupos">
                      <% if (group.image) { %>
                       <img src="/uploads/groups/<%= group.image %> " alt="">
                      <% } else { %>
                        <img src="/img/meeti.jpg" alt="">
                      <% } %> 
                  </div>
                  <div class="texto">
                      <a href="groups/<%= group.id %> "></a>
                      <h3><%= group.name %> </h3>
                  </div>
              </li>
             <% }) %>
         </ul>
        <% } else {%>

        <% } %> 
    </div>
</main>